.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 6rem 2rem;
    color: #fafafa;

    @include background-image("../images/profile_bg.jpg");

    &__img {
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        box-shadow: 0 1rem 5rem rgba(0, 0, 0, .2);
        margin-bottom: 5rem;
    }

    &__text-container {
        max-width: 120rem;
    }

    &__heading {
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    &__text {
        font-size: 1.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
        
        &:not(:last-child) {
            margin-bottom: 1.8rem;
        }
    }

    &__link,
    &__link:link,
    &__link:visited {
        position: relative;
        font-size: 1.8rem;
        color: $color-light;
        text-decoration: none;
    }

    &__link {
        @include underline;
    }
}